
body {
    background-color: #920002
}
#bigTitle {
    background-color: #171738;
    color: white;
    font-family: "Just Me Again Down Here", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    text-align: center;
    width: 50%;
    margin: auto;

}

#smallInfo {
    font-size: 30px;
    font-family: "Beau Rivage", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    line-height: 0px;
}

#moviesButton{
    background-color: #29524A;
    border: none;
    margin-right: 25px;
}

#musicButton{
    background-color: #920002;
    border: none;
    margin-left: 25px;
}

.center{
    margin: auto;
    width: 55%;
    padding-left:30px;
}


/*
h1 {
    color: hotpink;
    text-align: center;
}

#bio {
    width:100%;
    background-color: gray;
    color: black;
    text-align: center;
    line-height: 1.5;
}


#navItems {
    font-size:30px;
    color:green;
    margin-left: 10px;
    font-weight:bold;
    
}

.link{
    color:green;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color:white;
    font-size: 20px;
}

ol {
    color: gold;
    font-size: 20px;
    margin-left: 10px;
}

ul {
    color: gold;
    font-size: 20px;
    margin-left: 10px;
}
    */



